<html>
    <head>
        <title>Phone_number update</title>
    </head>

    <body>
        <div style="text-align: center;">
        <div><h2>Welcome to phone number updater tool</h2></div>
        <form method="post" action="/phone_number">
            <label>Enter Phone_number</label><br><br>
            <input type="text" name="data"><br><br>
            <button type="submit">submit</button>
        </form>
        </div>
    </body>
</html>